<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Сайт дипломного проекта{% endblock %}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'index' %}">Главная страница</a></li>
            <li><a href="{% url 'catalog' %}">Товары</a></li>
            <li><a href="{% url 'gallery' %}">Галерея</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
            {% if user.is_authenticated %}
                <li class="last"> {{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></li>
            {% else %}
                <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
        <div class="clear"></div>
    </div>
    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}
</body>
</html>