{% load static %}
{% load catalog_tags %}
{% load basket_tags %}
{% load header_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Сайт дипломного проекта{% endblock %}</title>

    <!-- <link type="text/css" href="{% static 'catalog_app/css/jquery-ui.min.css' %}" rel="stylesheet" /> -->
    <link type="text/css" href="{% static 'catalog_app/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link type="text/css" href="{% static 'catalog_app/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


    <!-- <link type="text/css" href="{% static 'catalog_app/css/validationEngine.jquery.css' %}" rel="stylesheet" /> -->
    <!-- <link type="text/css" href="{% static 'catalog_app/css/lightslider.min.css' %}" rel="stylesheet" /> -->


    <link type="text/css" href="{% static 'catalog_app/css/styles.css' %}" rel="stylesheet" />

    <link type="text/css" href="{% static 'catalog_app/css/products.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'catalog_app/css/product-container.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'catalog_app/css/products-container.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'catalog_app/css/pagination.css' %}" rel="stylesheet" />

</head>
<body>
    
    {% block mainmenu %}
        <div class="header">
            <ul id="mainmenu" class="mainmenu">
                <li class="logo"><a href="{% url 'index' %}"><div class="logo"></div></a></li>
                    {% get_menu as menu %}
                    {% for m in menu %}
                        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                    {% endfor %}
                    <li class="cart">
                        <!-- <div> -->
                            {% with total_items=basket|length %}
                                {% if basket|length > 0 %}
                                    Ваша корзина:
                                    <a href="{% url 'basket:basket_detail' %}">
                                        {{ total_items }} товар{{ total_items|pluralize }},
                                        {{ basket.get_total_price }} Руб</a>
                                {% else %}
                                    Ваша корзина пуста.
                                {% endif %}
                            {% endwith %}
                        <!-- </div> -->
                    </li>

                    <li></li>

                    {% if user.is_authenticated %}
                        <li class="last"> {{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></li>
                    {% else %}
                        <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}#">Регистрация</a></li>
                    {% endif %}
            </ul>
            <div class="clear"></div>
        </div>
    {% endblock mainmenu %}

    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}
</body>
</html>