{% extends 'base.html' %}
{% load catalog_tags %}
{% load basket_tags %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <h1>Каталог товаров</h1>

    <div class="container">
        <!-- Список категорий -->
        {% if cat_selected == 0 or cat_selected is None %}
            <li>Все категории</li>
        {% else %}
            <li><a href="{% url 'catalog:catalog' %}">Все категории</a></li>
        {% endif %}

        {% show_categories cat_selected %}

        <!-- Форма фильтров -->
        <form action="{{ request.get_full_path }}" method="get">
            <p class="text-white mx-3 mt-3">Сортировать:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
        <!-- Список товаров -->
        <div id="productsList" class="margin-botton-50">
            <div class="row">
                <div class="col-md-9">
                    {% for product in page_obj %}
                        <div class="products">
                            <div class="prod ">
                                <div class="photo">
                                    <img src="{{ product.image.url }}" height="220" width="220" alt="фото"/>
                                </div>
                                <a class="link" href="{% url 'catalog:product_detail' product.id product.slug %}">{{ product.name }}</a><br>
                                <div class="products-item-price">
                                    <span class="products-item-price__value">{{ product.price }} ₽</span>
                                </div>
                                <!-- <div class="art">Арт. {# { product.id }}</div> -->
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Пагинатор -->
        <div>
            {% include 'catalog_app/includes/pagination.html' %}  
        </div>
    </div>
{% endblock %}
