{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block content %}
    <div class="category-name">
        <h3>{{ category_name }}</h3>
    </div>

    <div itemscope itemtype="http://schema.org/Product">
        <div class="container">

            <div class="product-container">
                <div class="product-6rc">

                                <div class="product-image">
                                    {% if product.image %}
                                        <p><img src="{{ product.image.url }}" height="200" alt="{{ product.name }}"></p>
                                    {% endif %}
                                </div>
                            
                    <div class="product-header">
                        <h1 itemprop="name">{{ product.name }}</h1>
                        <div class="product-art">Артикул: {{ product.id }}</div>
                    </div>

                    <div class="product-container">
                        <div class="product-61c">
                            <div class="product-description" itemprop="description">
                                {{ product.description }}
                            </div>
                        <div class="product-4rc">
                            <div class="product-sale-container">
                                <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <div class="product-price">
                                        <span class="product-price__value">{{ product.price }} ₽</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buy">
                                <form action="{% url 'basket:basket_add' product.id %}" method="post">
                                    {{ basket_product_form }}
                                    {% csrf_token %}
                                    <input type="submit" value="В корзину">
                                </form>
                            </div>
                            <div class="product-status">
                                <div class="product-status__available">
                                    <i class="fa fa-circle" aria-hidden="{{ product.available }}"></i> 
                                    Есть в наличии
                                </div> 
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
